body{
	background-color: #f2f2f2;
	font-family:Arial, Sans-serif, Helvetica;
	font-size:20;
	line-height::30;
	text-decoration:none;
	text-align:center;
}

.menu{
	width: 100%;
	background-color: black;
	list-style:none;	
	margin: 0;
	padding: 0;
  	position: -webkit-sticky; /* Safari */
  	position: sticky;
  	top: 0;
	text-align:left;
}
	
.menu li {
	display:inline-block;
}

.menu li a {
	padding: 15px;
	display:inline-block;
	color: white;
	text-decoration:none;
}

.menu li a:hover{
	background: red;
	color:black;
}

h2{
	font-size:20px;
	margin:12px;
	display:inline-block;
}

#usuario{
	margin:12px 80% 12px 12px;
}

h1{
	font-size:40px;
	margin:20px 5px 5px;
}

img{
	margin: 5px;
}

#texto{
	width: 80%;
	heigth: 0px;
	display: inline-block;
	text-align:center;
}
	
#enviar, #cancelar{
	margin: 20px;
	padding: 5px 10px;
	background:black;
	color: white;
}

#enviar:hover, #cancelar:hover{
	margin: 20px;
	padding: 5px 10px;
	background:red;
	color: black;
	cursor:pointer;
}


.textbox{
	width: 60%;
	border: 1px solid #ccc;
	padding: 20px;
	margin: 20px;
	text-align:left;
}

textarea{
	width: 95%;
	padding:10px;
	box-sizing; border-box;
	border: 1px color;
	resize: vertical;
	max-height: 200px;
	min-height: 100px;
}

#datebox, select{
	width: 50%;
	padding:5px;
	margin:10px;
	box-sizing; border-box;
	border: 1px color;
}

a[href= "https://www.netflix.com/title/70264888"]{
	color:blue;
	padding: 5px;
	margin:25px;
	text-decoration:none;
}

a[href= "https://www.netflix.com/title/70264888"]:hover{
	color:white;
	background: black;
}